<!DOCTYPE html>
<html>
    <head>
        <meta name = 'viewport' content="width=device-width, initial-scale=1.0">
        <title>Package Search</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
<body>
    <div class="header">
        <h1><center>ACME</center></h1>
    </div>
    <div class="container">
        <div class="sub-container">
            <form action="/submit" class="package-search">
                <input id="url" type="text" placeholder="Input Package Here" name="url">
                <button id="submit-button" class="submit-button" type="submit">Submit</button>
            </form>
            <button class="update-button">Update</button>
            <button class="upload-button">Upload</button>
            <form action="/package/<%=url%>/rate">
                <button id="rate-button" class="rate-button">Rate</button>
            </form>
                <button class="download-button">Download</button>
            <form action="/reset">
                <button class="download-button">Clear</button>
            </form>
            <b>URL to rate (most recent):</b>
            <p id="id" class="urls">{{ data_url }}</p>

                <!-- code for displaying whatever urls that the user wants to do functions on -->
                <script>
                    const button = document.getElementById("submit-button");
                    button.addEventListener("click", addURL);
                    button.addEventListener("click", displayURLs);

                    let url;

                    function addURL() {
                        url = document.getElementById("url").value;
                        url = url.toLowerCase();
                    }

                    function displayURLs(){
                        document.getElementById("urls").innerHTML = url;
                    }
                </script>
        </div>
        <div class="display-results">
            <div class="table">
                <h2><center>Rating Of Package</center></h2>
                    <ul>
                        <li>URL: {{data_url}}</li>
                        <li>Net: {{net_score}}</li>
                        <li>Ramp Up: {{ramp_up}}</li>
                        <li>Correctness: {{correctness}}</li>
                        <li>Bus Factor: {{bus_factor}}</li>
                        <li>Responsive Maintainer: {{responsive_maintainer}}</li>
                        <li>License: {{license}}</li>
                    </ul>
            </div>
        </div>
    </div>
</body>
</html>